<html>
   <!--  <script src="node_modules/jquery/jquery.js"></script>
    <script src="node_modules/popper.js/dist/popper.js"></script> -->
    <!-- <script src="node_modules/bootstrap/dist/js/bootstrap.js"></script> -->
    <script src="node_modules/vue/dist/vue.js"></script>
    <script src="node_modules/vue-resource/dist/vue-resource.js"></script>
    
    <link rel="stylesheet" type="text/css" href="node_modules/bootstrap/dist/css/bootstrap.css" />
    <body>
        <div id='app'>
        <nav class="navbar navbar-light bg-light">
            <span class="navbar-brand mb-0 h1">Elenco users</span>
        </nav>
            <ul class="list-group">
                <li v-for='post in posts' class="list-group-item">{{post}}</li>
            </ul>
           
            <form>
                <h2>form inserimento ToDo</h2>
                <div class="form-group">
                
                <input v-model="name" type="text" class="form-control" id="InputName" placeholder="Enter name">
                <input v-model="description" type="text" class="form-control" id="InputDescription" placeholder="description">
                <input v-model="completed" type="text" class="form-control" id="InputCompleted" placeholder="completed">
                <input v-model="assignedTo" type="text" class="form-control" id="InputAssigedTo" placeholder="assignedTo">
                </div>
                <button class="btn btn-primary" @click="addNew">Add</button>
                <button  class="btn btn-primary" @click="getNew">GETbyUser</button>
                <button class="btn btn-primary" @click="deliteById">deliteById</button>
            </form>
        </div>
    </body>
    <script src="./app.js"></script>
</html>